*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: azure;
  min-width: 80%;
}

h1{
  margin: 3px 5px 2px;
  font-size: 25px;
}

p{
  margin-bottom: 40px;
  font-size: 14px; 
  color: black;
  opacity: .8;
  font-weight: bold;
}

li{
  list-style-type: none;
  width: 250px;
  margin-bottom: 6px;
  padding: 15px;
  height: 50px;
  background-color: blueviolet;
  border-radius: 8px;
  transition:  .5S;
  cursor: pointer; 
}

li:hover{
  background-color: rgb(95, 30, 155);
}

a{
  display: inline-block;
  position: relative;  
  z-index: 1;     
  padding: 6px 70px;     
  margin: -36px 0px 20px; 
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

.box-redes{
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-inline: auto;
  text-align: center;
  align-items: center;
}

img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  max-width: 400px;
  margin: 20px, auto;
  padding: 5px;
  border: solid 4px blueviolet;
  transition: 0.4s all;
}

img:hover{
  border: solid 8px blueviolet;
  padding: 1px;
}

.rodape{
  text-align: center;
  margin-top: 12px;
  padding: 6px;
  font-size: 12px;
  color: black;
  opacity: .8;
  text-decoration: none;
}